@import "tailwindcss";

:root {
  --background: oklch(0.9418 0.0279 315.53);
  --background-secondary: oklch(0.7418 0.0279 315.53);
  --foreground: oklch(0.2096 0.0371 290.05);
  --foreground-secondary: oklch(0.3096 0.0371 290.05);
  --accent: oklch(0.2786 0.0579 289.25);
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --default-transition-duration: 300ms;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: oklch(0.2096 0.0371 290.05);
  --background-secondary: oklch(0.3096 0.0371 290.05);
  --foreground: oklch(0.9418 0.0279 315.53);
  --foreground-secondary: oklch(0.7418 0.0279 315.53);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
